<%= form_for(@wish) do |f| %>
  <% if @wish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wish.errors.count, "error") %> prohibited this wish from being saved:</h2>

      <ul>
      <% @wish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <b><%= f.label :title, 'One line wish' %></b><br />
    <%= f.text_field :title %>
  </div>
  <div class="control-group">
    <b><%= f.label :address, 'Hi Bharathi/ Hi dear/ Dear Bharathi/ Something like this' %></b><br />
    <%= f.text_field :address %>
  </div>
  <div class="control-group">
    <b><%= f.label :wish, 'A detailed text to Bharathi' %></b><br />
    <%= f.text_area :wish %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
