<table style="margin-top:70px;">
	<% @users.each do |u| %>
		<tr>
			<td><%= image_tag(u.image_url, :height=>50, :width=>50) %></td>
			<td><%= u.name %></td>
		</tr>
	<% end %>
</table>

<table style="margin-top:70px;">
	<% @images.each do |i| %>
		<tr>
			<td><%= i.user.name %></td>
			<td><%= i.image_url %></td>
			<td><%= i.caption %></td>
		</tr>
	<% end %>
</table>